@import "../../variables.scss";
@import "../../mixin.scss";

footer {
  background-color: $color-quinary;
  padding-bottom: 5rem;
  .container {
    @include container;
    .title {
      padding-top: 3.7rem;
      margin-bottom: 3.3rem;
      color: $color-primary;
    }
    .box_input {
      label {
        color: $color-primary;
        font-size: 1.2rem;
      }
      input {
        @include border_off;
        display: block;
        width: 40%;
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 15px;
        margin: 0.3rem 0 1.5rem 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-size: 1.1rem;
      }
    }
    .submit {
      input {
        @include border_off;
        cursor: pointer;
        color: $color-primary;
        background-color: #fb995d;
        padding: 0.7rem 1.8rem;
        margin-top: 1.1rem;
        font-size: 1.2rem;
      }
    }
  }
}
