@import "../../variables.scss";
@import "../../mixin.scss";

nav {
  background-color: #00000031;
  .container {
    @include container;
    @include center_between;
    .title_box {
      font-size: 1.4rem;
      a {
        text-decoration: none;
        h1 {
          margin: 0.7rem 0 0.7rem 0;
          color: $color-primary;
          span {
            color: $color-secondary;
          }
        }
      }
    }
    ul {
      display: flex;
      li {
        list-style: none;
        a {
          @include transition;
          text-decoration: none;
          font-size: 1.2rem;
          margin-left: 1rem;
          color: $color-primary;
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }
}
