@import "../../variables.scss";
@import "../../mixin.scss";

.container {
  @include container;
  margin-bottom: 1900px;
  .title_box {
    text-align: center;
    margin-bottom: 1.4rem;
    h1 {
      font-size: 1.7rem;
      margin-top: 4rem;
      padding-bottom: 1.5rem;
      span {
        color: $color-secondary;
      }
    }
    .input_box {
      @include center_grid;
      position: relative;
      margin-bottom: 5.8rem;
      label {
        cursor: pointer;
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $color-secondary;
        padding: 7px 15px;
        color: $color-primary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      input {
        @include border_off;
        background-color: $color-primary;
        font-size: 1.1rem;
        width: 30vw;
        height: 7vh;
        padding-left: 1.5rem;
        color: $color-tertiary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
  .books_box_container {
    @include center_center;
    flex-wrap: wrap;
    .books_box {
      margin: 0 1.2rem 2.5rem 1.2rem;
      width: 280px;
      height: 530px;
      border: 1px solid #0000002c;
      .img_box {
        @include center_center;
        padding: 0.8rem 0;
        img {
          width: 85%;
          height: 300px;
        }
      }
      .text_box {
        padding: 0 1.4rem;
        position: relative;
        height: 175px;
        h2 {
          font-size: 1.2rem;
        }
        p {
          margin-bottom: 0.2rem;
        }
        h4 {
          color: $color-quaternary;
        }
        a {
          @include center_center;
          input {
            @include border_off;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            padding: 0.5rem 1.2rem;
            font-size: 1rem;
            color: $color-primary;
            width: 84%;
            background-color: $color-quaternary;
          }
        }
      }
    }
  }
}
