@import "../../variables.scss";
@import "../../mixin.scss";

.container {
  @include container;
  padding: 0 1.5rem;
  .box {
    @include center_center;
    margin: 11rem 0 12rem 0;
    .img_box {
      img {
        width: 400px;
        height: 400px;
      }
    }
    .box_text {
      margin-left: 3rem;
      max-width: 600px;
      h2 {
        font-size: 2rem;
        margin-bottom: 0.7rem;
      }
      h6 {
        font-size: 1rem;
        margin-bottom: 1.2rem;
        color: $color-secondary;
      }
      p {
        margin-bottom: 1.2rem;
        text-align: justify;
      }
      h5 {
        font-size: 1rem;
        margin-bottom: 1.1rem;
      }
      h4 {
        color: $color-quaternary;
        font-size: 1.3rem;
        margin-bottom: 1.9rem;
      }
      button {
        @include border_off;
        @include transition;
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
        color: $color-primary;
        width: 40%;
        background-color: $color-quaternary;
        &:hover {
          background-color: $color-quinary;
        }
      }
    }
  }
}
@media (max-width: 967px) {
  .container {
    .box {
      flex-direction: column;
      .img_box {
        img {
          padding: 1rem;
          width: 350px;
          height: 400px;
        }
      }
      .box_text {
        margin-left: 0rem;
        max-width: 600px;
        text-align: center;
        padding: 0 1.5rem;
      }
    }
  }
}
