@import "../variables.scss";
@import "../mixin.scss";

section {
  @include container;
  margin-bottom: 5.8rem;
  .title {
    margin: 4rem 0 4rem 1rem;
    span {
      color: $color-secondary;
    }
  }
  .container_box_books {
    @include center_center;
    .books_box {
      padding: 0 1rem;
      margin: 0 1rem;
      border: 1px solid #0000002a;
      .img_box {
        padding-top: 1rem;
        text-align: center;
      }
      .text_box {
        h2 {
          font-size: 1.4rem;
          margin-bottom: 0.2rem;
        }
        p {
          margin-bottom: 0.4rem;
        }
        h4 {
          color: $color-quaternary;
        }
        input {
          @include border_off;
          cursor: pointer;
          padding: 0.5rem 1.2rem;
          margin: 3rem 0 1.2rem 0;
          font-size: 1rem;
          color: $color-primary;
          width: 100%;
          background-color: $color-quaternary;
        }
      }
    }
  }
}
