@import "../variables.scss";
@import "../mixin.scss";

section {
  @include container;
  margin-bottom: 5.8rem;
  .title {
    margin: 4rem 0 4rem 1rem;
    span {
      color: $color-secondary;
    }
  }
  .books_box_container {
    @include center_center;
    flex-wrap: wrap;
    .books_box {
      margin: 0 1.2rem 2.5rem 1.2rem;
      width: 280px;
      height: 530px;
      border: 1px solid #0000002c;
      .img_box {
        @include center_center;
        padding: 0.8rem 0;
        img {
          width: 85%;
          height: 300px;
        }
      }
      .text_box {
        padding: 0 1.4rem;
        position: relative;
        height: 175px;
        h2 {
          font-size: 1.2rem;
        }
        p {
          margin-bottom: 0.2rem;
        }
        h4 {
          font-size: 1.1rem;
          color: $color-quaternary;
        }
        a {
          @include center_center;
          input {
            @include border_off;
            @include transition;
            position: absolute;
            bottom: 0;
            padding: 0.5rem 1.2rem;
            font-size: 1rem;
            color: $color-primary;
            width: 84%;
            background-color: $color-quaternary;
            &:hover {
              background-color: $color-quinary;
            }
          }
        }
      }
    }
  }
}
