@import "../variables.scss";
@import "../mixin.scss";

header {
  @include container;
  .title_box {
    color: $color-tertiary;
    text-align: center;
    margin-bottom: 1.4rem;
    h1 {
      font-size: 1.7rem;
      margin: 4rem 0 0 0;
      padding-bottom: 1.5rem;
      span {
        color: $color-secondary;
      }
    }
    p {
      font-size: 0.9rem;
    }
    .input_box {
      @include center_grid;
      position: relative;
      margin-bottom: 5.8rem;
      label {
        cursor: pointer;
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $color-secondary;
        padding: 7px 15px;
        color: $color-primary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      input {
        @include border_off;
        background-color: $color-primary;
        font-size: 1.1rem;
        width: 30vw;
        height: 7vh;
        padding-left: 1.5rem;
        color: $color-tertiary;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
  .container_box_books {
    @include center_center;
    .books_box {
      padding: 0 1rem;
      margin: 0 1rem 5rem 1rem;
      border: 1px solid #0000002a;
      .img_box {
        padding-top: 1rem;
        text-align: center;
      }
      .text_box {
        h2 {
          font-size: 1.4rem;
          margin-bottom: 0.2rem;
        }
        p {
          margin-bottom: 0.4rem;
        }
        h4 {
          color: $color-quaternary;
        }
        input {
          @include border_off;
          cursor: pointer;
          padding: 0.5rem 1.2rem;
          margin: 3rem 0 1.2rem 0;
          font-size: 1rem;
          color: $color-primary;
          width: 100%;
          background-color: $color-quaternary;
        }
      }
    }
  }
}
