header {
  .title_box {
    color: #fff;
  }
  .container_box_books {
    display: flex;
    margin-right: 2rem;
    .books_box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
