$color-primary: #fff;
$color-secondary: #fb995d;
$color-tertiary: #000;
$color-quaternary: #fa7728;
$color-quinary: #232123;
/*
$color-senary: #;
$color-septenary: #;
$color-octonary: #;
$color-novenary: #;
$color-decenary: #;
*/
